<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85269677127-s20qhf4m07pl3d01upnc3rlrt7cd2bcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85269677127-s20qhf4m07pl3d01upnc3rlrt7cd2bcn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85269677127-d7abbgic474h8s27il55li3bqamtnbt3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlCfr6X3q_qvMtK7ePjsIaDQzJ2ekyljI</string>
	<key>GCM_SENDER_ID</key>
	<string>85269677127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.reisetagebuch</string>
	<key>PROJECT_ID</key>
	<string>reiseapp-mamatocherontour</string>
	<key>STORAGE_BUCKET</key>
	<string>reiseapp-mamatocherontour.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85269677127:ios:9ae6aaac2af69a9d9a1d62</string>
</dict>
</plist>